.twin-container{
    display: flex;
}
.product-container{
    width: 70%;
    margin-right: 5px;
    margin-left: 9%;
    border-right: 1px solid lightgray;
}
.cart-container{
    margin-left: 20px;
}
